.top-cont{
    background-color: #cac4ce;
}

.custom-btn {
    width: 250px;
    padding: 10px;
    background-color: #2f3234;
    color: #ffffff;
    border: none;
    font-family: "Allerta";
}

.custom-btn:hover {
    background-color: #6c596e;
    color: #ffffff;
}

.custom-calendar {
    width: 600px;
}

.logo {
    width: 20%;
    height: 20%;
}

.name-col {
    color: #68586c;
    margin-left: -120px;
}

.logo-row {
    margin-left: -120px;
}